# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="" 
JWT_SECRET=""
EXPIRESIN=""

JWT_SECRET_REFRESH=""
EXPIRESIN_REFRESH=""

AWS_S3_REGION=""
AWS_S3_BUCKET=""
AWS_S3_ACCESS_KEY=""
AWS_S3_SECRET_KEY=""

GATEWAY_HOST=""

AUTHENTICATION_SERVICE=""
AUTHENTICATION_SERVICE_PORT=""

POST_SERVICE=""
POST_SERVICE_PORT=""

POST_ENGAGEMENT_SERVICE=""
POST_ENGAGEMENT_SERVICE_PORT=""

REDIS_URI="redis://default:123@redis:6379"
REDIS_PASSWORD="123"
REDIS_HOST="127.0.0.1"
REDIS_PORT="6380"